<div id="login" class="flex-center" fxLayout="column">
    <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center center">
        <div id="login-form">

            <div class="logo">
                <img class="img-fluid" src="assets/images/logos/logo.jpeg">
            </div>

            <div class="title">ACESSE A SUA CONTA</div>


            <form name="loginForm" [formGroup]="form" novalidate>

                <mat-form-field>
                    <input matInput required formControlName="descricaoFuncionario" placeholder="Usuário">
                    <mat-hint align="end">
                        {{form.get('descricaoFuncionario').value?.length || 0}}/128
                    </mat-hint>

                    <mat-error *ngIf="form.get('descricaoFuncionario').errors &&
                                  form.get('descricaoFuncionario').errors.required">
                        Usuário obrigatório.
                    </mat-error>
                    <mat-error *ngIf="form.get('descricaoFuncionario').errors &&
                                  form.get('descricaoFuncionario').errors.maxlength">
                        Tamanho máximo da usuário é de 128 caracteres.
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput required formControlName="senha" placeholder="Senha">
                    <mat-hint align="end">
                        {{form.get('senha').value?.length || 0}}/128
                    </mat-hint>

                    <mat-error *ngIf="form.get('senha').errors &&
                                  form.get('senha').errors.required">
                        Senha obrigatória.
                    </mat-error>
                    <mat-error *ngIf="form.get('senha').errors &&
                                  form.get('senha').errors.maxlength">
                        Tamanho máximo da senha é de 128 caracteres.
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button color="primary" class="submit-button" aria-label="Acessar"
                    [disabled]="form.invalid" (click)="submit($event)">
                    Acessar
                    <mat-icon class="m-l-10" *ngIf="!loading">chevron_right</mat-icon>
                    <mat-icon class="m-l-10" *ngIf="loading">
                        <mat-spinner diameter="20">
                        </mat-spinner>
                    </mat-icon>
                </button>
            </form>
        </div>
    </div>
</div>