<div fxLayout="column" fxFlex fxLayoutGap="20px">
    <div fxLayout="column" fxFlex fxLayoutGap="20px" [formGroup]="form">
        
        <mat-form-field>
            <input matInput required formControlName="descricaoCargo" placeholder="Descrição">
            <mat-hint align="end">
                {{form.get('descricaoCargo').value?.length || 0}}/128
            </mat-hint>

            <mat-error *ngIf="form.get('descricaoCargo').errors &&
                          form.get('descricaoCargo').errors.required">
                Descrição obrigatória.
            </mat-error>
            <mat-error *ngIf="form.get('descricaoCargo').errors &&
                          form.get('descricaoCargo').errors.maxlength">
                Tamanho máximo da Descrição é de 128 caracteres.
            </mat-error>
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <button mat-raised-button color="primary" (click)="back($event)">
            <mat-icon>arrow_back</mat-icon>
            Voltar
        </button>
        <button mat-raised-button color="success" [disabled]="!form.valid" (click)="submit($event)" >
            <span *ngIf="!isEditMode">Criar</span>
            <span *ngIf="isEditMode">Atualizar</span>
            <mat-icon>save</mat-icon>
        </button>

        <!-- <button mat-button (click)="back($event)">Voltar</button> -->
    </div>
</div>