<div fxLayout="column" fxFlex fxLayoutGap="20px">
    <app-breadcumb [breadcumb]="breadcumb" (onItemClick)="goToBreadcumbItem($event)"></app-breadcumb>

    <div fxLayout="column" fxFlex fxLayoutGap="20px" [formGroup]="form">

        <mat-form-field>
            <input matInput required formControlName="descricaoFranqueado" placeholder="Descrição">
            <mat-hint align="end">
                {{form.get('descricaoFranqueado').value?.length || 0}}/70
            </mat-hint>

            <mat-error *ngIf="form.get('descricaoFranqueado').errors &&
                          form.get('descricaoFranqueado').errors.required">
                Descrição obrigatória.
            </mat-error>
            <mat-error *ngIf="form.get('descricaoFranqueado').errors &&
                          form.get('descricaoFranqueado').errors.maxlength">
                Tamanho máximo da Descrição é de 70 caracteres.
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput required mask="000.000.000-00" formControlName="cpf" placeholder="CPF">
            <mat-hint align="end">
                {{form.get('cpf').value?.length || 0}}/11
            </mat-hint>

            <mat-error *ngIf="form.get('cpf').errors &&
                          form.get('cpf').errors.required">
                CPF obrigatório.
            </mat-error>
            <mat-error *ngIf="form.get('cpf').errors &&
                          form.get('cpf').errors.maxlength">
                Tamanho máximo do CPF é de 11 caracteres.
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Situação</mat-label>
            <mat-select required 
                [compareWith]="simpleComparer"
                formControlName="idSituacao">
                <mat-option>-- Selecione --</mat-option>
                <mat-option *ngFor="let situacao of situacoes" value="{{situacao.idSituacao}}">
                    {{situacao.descricaoSituacao}}</mat-option>
            </mat-select>

            <mat-error *ngIf="form.get('idSituacao').errors &&
                          form.get('idSituacao').errors.required">
                Situação obrigatória.
            </mat-error>
        </mat-form-field>
    </div>


    <div fxLayout="row" fxLayoutAlign="space-between center">
        <button mat-raised-button color="primary" (click)="back($event)">
            <mat-icon>arrow_back</mat-icon>
            Voltar
        </button>
        <button mat-raised-button color="success" [disabled]="!form.valid" (click)="submit($event)">
            <span *ngIf="!isEditMode">Criar</span>
            <span *ngIf="isEditMode">Atualizar</span>
            <mat-icon>save</mat-icon>
        </button>

        <!-- <button mat-button (click)="back($event)">Voltar</button> -->
    </div>
</div>